body {
      background-color: #001f3d;
      overflow: hidden;
    }

.animated-img {
    position: absolute;
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    border-radius: 50%;
}